#### Test 1 – Graph RAG
**Spørgsmål:** Hvem har instrueret Interstellar?
**Værktøj:** Film - Graph Retrieval.
**Hentede oplysninger:** AI-agenten hentede oplysninger om film og instruktører fra Neo4j.
**Resultat:** Agenten svarede korrekt, at Christopher Nolan har instrueret Interstellar, men nævnte også Titanic, hvilket er forkert.

<img width="2048" height="1342" alt="image" src="https://github.com/user-attachments/assets/2fbd8898-381e-43a6-a791-988ead9f749e" />
