#### Test 1 – Graph RAG
**Spørgsmål:** Hvem har instrueret Interstellar?
**Værktøj:** Film - Graph Retrieval.
**Hentede oplysninger:** AI-agenten hentede oplysninger om film og instruktører fra Neo4j.
**Resultat:** Agenten svarede korrekt, at Christopher Nolan har instrueret Interstellar, men nævnte også Titanic, hvilket er forkert.
